header{
    margin-bottom: 10px;
}

.error{
    color: red;//$alert-color;
}

.callout.flash {
    padding-left: 0;
    padding-right: 0;
    border-width: 0 0 1px 0;
}

table {
    .actions{
        white-space: nowrap;
        width: 1%;
    }
}