header{
    margin-bottom: 10px;
}

.error{
    color: red;//$alert-color;
}

.callout.flash {
    padding-left: 0;
    padding-right: 0;
    border-width: 0 0 1px 0;
}

table {
    .actions{
        white-space: nowrap;
        width: 1%;
    }
}

.img-checkbox {
    display: inline;
    margin-right: .5rem;
    cursor: pointer;

    input[type="checkbox"] {
        display: none;
    }

    img {
        padding: 2px;
        border: 1px solid transparent;
        border-radius: $border-radius;
        filter: grayscale(100%);
        opacity:.5;

        transition: filter 300ms, opacity 300ms, border 300ms;
    }

    &:hover {
        img {
            opacity: .75;
        }
    }
    
    &.selected{
        img {
            border:1px solid $gray-400;
            filter:none;
            opacity: 1;
        }
    }
}