-techno = techno || {}

form(method="POST" enctype="multipart/form-data")
    .form-group
        label(for="name") Name
        input.form-control(type="text" id="name" name="name" value=techno.name autofocus)
        if errors.name
            small.form-text.text-danger=errors.name
    .form-group
        label(for="image") Image
        br
        input(type="file" name="image")
    
    input.btn.btn-primary(type="submit", value="Save")